body{
    background-color:white;
}

.img-thumbnail{
    width: 150px;
}
.nav-link{
   margin: auto 5px;
   font-size: 20px;
}
.nav-link:hover{
    background-color: rgb(40, 133, 253);
}
.card{
    
    
   font-size: 22px;
   font-weight: 300;
   font-family: 'Bitter', serif;
    background-color: rgb(218, 214, 214);
}
.card-title{
    font-family: 'Alegreya SC', serif;
    font-size: 27px;
    font-weight: 500;

}
.card-deck .card:hover{
     border: 1px black;
     
}
.contact{
    font-size: 30px;
    font-weight: 500;
    background-color: rgb(252, 229, 23);
    height: 80px;
    
    padding-top: 20px;
}
.cont-img{
    width: 50px;
} 
.page-footer{
    background-color:rgb( 53,73,248);
}
.foot-a{
    color: white;


}
.foot-a:hover{
    color: white;
}
.foot-b{
    color: white;
    font-size: 20px;
    padding-right: 0px;
   

}
.foot-b:hover{
    color: white;
}



